<!DOCTYPE html>
{% from 'bootstrap5/form.html' import render_form %}
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" href="{{ url_for('static', filename='assets/css/base.css')}}" rel="stylesheet" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
		<script src="{{ url_for('static', filename='assets/js/jquery-3.7.1.min.js') }}"></script>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/icons/favicon.ico') }}">
	</head>
	<body>
		{% include "includes/navbar.html" %}
		{% block content %}{% endblock %}
		{% include "includes/footer.html" %}
		<script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>
