/* --------------- базовые настройки ---------*/
html {
	height: 100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	height: 100%;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{
	max-width:100%;
}
/* --------------- /базовые настройки ---------*/

.scrollable-list {
  max-height: 100%;
  overflow-y: auto;
}

.button-view{
	right: 0;
	top: 0;
}
