{% extends "layouts/base.html" %}
{% block title %}Home{% endblock %}
{{ super() }}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-center">
            <h1>Welcome!</h1>
            <h2>PyFT-Tasks is a modern task management platform built on Flask and Python.</h2>
            <p>
                It is designed to streamline the process of organizing and tracking tasks for teams and individual projects. 
				The platform features an intuitive interface, a flexible task configuration system, and supports labels, priorities, and deadlines. 
				With PyFT-Tasks, users can efficiently manage their projects, enhancing productivity and work quality.
            </p>
        </div>
    </div>	
{% endblock %}
